parking-lot-api/target/
parking-lot-api/!.mvn/wrapper/maven-wrapper.jar
parking-lot-api/!**/src/main/**/target/
parking-lot-api/!**/src/test/**/target/

### STS ###
parking-lot-api/.apt_generated
parking-lot-api/.classpath
parking-lot-api/.factorypath
parking-lot-api/.project
parking-lot-api/.settings
parking-lot-api/.springBeans
parking-lot-api/.sts4-cache

### IntelliJ IDEA ###
parking-lot-api/.idea
parking-lot-api/*.iws
parking-lot-api/*.iml
parking-lot-api/*.ipr