#API
parking-lot-api/target/
parking-lot-api/!.mvn/wrapper/maven-wrapper.jar
parking-lot-api/!**/src/main/**/target/
parking-lot-api/!**/src/test/**/target/

### STS ###
parking-lot-api/.apt_generated
parking-lot-api/.classpath
parking-lot-api/.factorypath
parking-lot-api/.project
parking-lot-api/.settings
parking-lot-api/.springBeans
parking-lot-api/.sts4-cache

### IntelliJ IDEA ###
parking-lot-api/.idea
parking-lot-api/*.iws
parking-lot-api/*.iml
parking-lot-api/*.ipr

#UI
# dependencies
parking-lot-ui/.idea
parking-lot-ui/node_modules
parking-lot-ui/.pnp
parking-lot-ui/.pnp.js

# testing
parking-lot-ui/coverage

# production
parking-lot-ui/build

# misc
parking-lot-ui/.DS_Store
parking-lot-ui/.env.local
parking-lot-ui/.env.development.local
parking-lot-ui/.env.test.local
parking-lot-ui/.env.production.local

parking-lot-ui/npm-debug.log*
parking-lot-ui/yarn-debug.log*
parking-lot-ui/yarn-error.log*